body{
    font-family: 'Times New Roman', Times, serif;
    background-color:  #fff3e8;
    margin-left: 25%;
    margin-right: 25%;
}  

output, input{
    width: 30%;
}
label, input, output{   
    margin-bottom: 10px;
    font-size: large;
}
.inic{
    input, label, output{
        display: block;
    } 
}
.radio{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-right: 75%;
}
.sapaco{
    margin-bottom: 30px;
    margin-top: 30px;                 
}
.checkbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Três colunas iguais */
    gap: 10px;
    text-align: left;
    align-content: left;
    justify-content: left;
    
  
}
.flexorgn{
    display: flex;
}

input:focus{
    color: rgb(235, 149, 36);
}
 
h1{
    text-align: center;
}